# ==============================================================================
# J-Bunker Sandbox — Arquivos Ignorados
# ==============================================================================

# Ignorar as pastas ocultas de cache local (Maven e Gradle)
.cache_m2/
.cache_gradle/

# Ignorar toda a pasta centralizadora de testes dos alunos
apps/

# Ignorar arquivos temporários e logs gerados pelos containers
*.log
tmp/

# Arquivos de sistema do Windows que o Explorer cria sozinho
Thumbs.db
Desktop.ini